body {
    height: 1000px;
}
body > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
body a {
    text-decoration: none;
}
nav {
    padding: 0px 50px;
    position: fixed;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 50px;
}
nav h1 a {
    font-size: 36px;
    color: #314ce0;
    /* border: 1px solid black; */
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    /* border: 1px solid black; */
}
nav ul li a {
    color: black;
}
nav ul li a:hover {
    border-bottom: 1px solid black;
}
.page-1 {
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 50px;
    /* border: 10px solid red; */
}
.page-1 div {
    /* border: 1px solid red; */
}
.page-1 div span {
    font-size: 64px;
    font-weight: bold;
}
.page-1 img {
    width: 40%;
}
.page-1 button {
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#314ce0 ;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}
.page-1 button:hover {
    background-color:#2a40bf;
    transform: translateY(-1px);
}