html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding,50px);
}
body {
    height: 1000px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body > * {

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
body a {
    text-decoration: none;
}
nav {
    padding: 0px 50px;
    position: fixed;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 50px;
    z-index: 99;
}
nav h1 a {
    font-size: 36px;
    color: #314ce0;
    /* border: 1px solid black; */
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    /* border: 1px solid black; */
}
nav ul li a {
    color: black;
}
nav ul li a:hover {
    border-bottom: 1px solid black;
}
.page-1 {
    margin-top: 150px;
/* width: 100%; */
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 50px;
    /* padding: 0px 50px; */
    /* position: relative;
    z-index: 999; */
    /* border: 10px solid red; */
    /* scroll-padding-top: 5000px; */
}
.page-1 div {
    /* border: 1px solid red; */
}
.page-1 div span {
    font-size: 64px;
    font-weight: bold;
}
.page-1 img {
    width: 40%;
}
.page-1 button {
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#314ce0 ;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}
.page-1 button:hover {
    background-color:#2a40bf;
    transform: translateY(-1px);
}

.about {
    width: 100%;
    margin-top: 50px;
    /* margin-top: -30px; */
    /* border: 1px solid red; */
    background-color:#314ce0 ;
    padding: 50px 0px;
}
.about div {
    width: 40%;
    margin: 0px auto;
    /* border: 1px solid red; */
}
.about div h1, .about div p {
    text-align: center;
    color: white;
}

.about .socmed-container {
    margin-top: 10px;
    display: flex;
    background-color: white;
    list-style: none;
    /* gap: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0px auto;
    align-items: center;
    width: 200px;
    border-radius: 50px;
    justify-content: space-evenly;
}
.about ul li img {
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/* PROJECT */
.project {
    padding: 20px 50px;
    /* background-color: #314ce0; */
}
.project .tittle  {
    text-align: center;
    color: black;
    margin-bottom: 30px;
}
.project .project-card-container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
}
.project .project-card-container .card {
 padding: 20px;   
 display: flex;
 flex-direction: column;
 /* background-color: white; */
 border-radius: 20px;
 box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.card  > *{
    padding: 0;
    margin: 0;
}
.project-card-container .card .header img {
    width: 100%;
    border-radius: 10px;
}
.project-card-container .card .card-tittle {
    text-align: left;
    font-size: 20px;
} 
.project .project-card-container .card ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.project .project-card-container .card ul li img {
    width: 20px;
    height: 20px;
    margin: 10px 0px;
}
.project .project-card-container .card  button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color:#314ce0 ;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}
.project .project-card-container .card button:hover {
    background-color:#2a40bf;
    transform: translateY(-1px);
}

/* Form */
.contact {
    padding: 50px 0px;
    background-color: #314ce0;
    margin-top: 50px;
}
.contact .tittle {
    color: white;
    text-align: center;
}
.contact .form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
    margin: 0px auto;
}
.contact .form-container label {
    color: white;
}
.contact .form-container input, .contact .form-container textarea {
    padding: 15px 15px;
    border-radius: 20px;
    border: none;
}
.contact .form-container button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color:#FD841F ;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}
.contact .form-container button:hover {
    background-color:#ee7c20 ;
    transform: translateY(-1px);
}
footer {
    text-align: center;
    padding: 2px 0px;
}